<div class="masthead">
    <div class="language-nav">
        <nav class="nav">
            <ul class = "list-nav">
                <a href="#">CSS</a> 
                <a href="#">HTML</a>
                <a href="#">Javascript</a> 
                <a href="#">Ruby</a> 
            </ul>
        </nav>
    </div>
    <div class = "div-logo">
        <img src="assets/AA_Times_Logo.png" alt = "AA LOGO" >
    </div>
    <div class="masthead-links">
    
        <button class = "time-btn">Tuesday, October 18, 2016</button>
        <button class = "paper-btn">Today’s Paper</button>
        <button class = "video-btn"> Video</button>
        <button class = "temp-btn" > 77°F</button>
        <button class = "stock-btn">AAO <strong>+100%</strong> </button>
    </div>
</div>