<h1> Create a new band! </h1>

<form method = "post" action = "<%= bands_url %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Name
        <input type = "text" name = "band[name]" value = " <%= @band.name %>">
    </label> 
    <br>
    
    <br>
    <input type = "submit" value = "Create your band">

</form>